# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build artifacts
/dist/
/bin/
/build/

# Compiled object files
*.o
*.a

# IDE/editor files
.vscode/
.idea/
*.iml

# Environment
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
